<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">>
<head>
    <meta charset="UTF-8">
    <title>Danh sách danh mục</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container mt-4">
    <h1>Danh sách danh mục</h1>
    <a class="btn btn-primary mb-3" th:href="@{/categories/add}">Thêm mới</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Tên danh mục</th>
            <th>Chức năng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.name}"></td>
            <td sec:authorize =" hasAnyAuthority('ADMIN')">
                <a th:href="@{/categories/edit/{id}(id=${category.id})}">Sửa</a> |
                <a th:href="@{/categories/delete/{id}(id=${category.id})}" onclick="return confirm('Bạn có chắc chắn muốn xóa?')">Xóa</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>
